@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'); 

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.banner {
    position:absolute;
    top: 30%;
    left: 15%;
    
}
.banner h1{
    color: #fff;
    font-size: 3.5rem ;
    font-family: "Baloo 2", serif;
    font-weight: 200;   
    text-shadow: .4rem .2rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: .2rem;
} 
.banner p{
    font-family: "Mulish", serif ;
    color: #fff;
    font-size: 2rem;
    text-shadow: .4rem .2rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
} 
.banner button{
    font-family: "muli", serif;
    color: #000;
    background-color: none;
}
